/* ******************************************************************************************
 E s t i l s    a p l i c a t s    a   rutes-detall.html
********************************************************************************************* */

/************************************************
 Main: 3 grans seccions:
 - ruta-presentacio-banner
 - ruta-fil-ariadna
 - ruta-section
       -ruta-contenidor
          - ruta-calendari
          - ruta-itinerari
************************************************ */

/*  Main */
/* 1. Main: 1era secció ind-presentacio-banner */

/* 1.1 Contenidor: imatge de fons */

#ruta-presentacio-banner-xxxx {
    width:100%;
    background: url('../img/bg-barcelona-medieval.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3vw;
}
/*   @@@  ### Afegir per a cada ruta nova ###  */
#ruta-presentacio-banner-medieval {
    width:100%;
    background: url('../img/bg-barcelona-medieval.jpg') no-repeat top center;
    background-size: cover;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    padding-left: 3vw;
}
/*  ### fi ###  */

/* Capçaleres que apareixen en ind-presentacio-banner */
.ruta-presentacio-banner h1, 
.ruta-presentacio-banner h2,
.ruta-presentacio-banner h3,
.ruta-presentacio-banner h3 a {
    color:#FF2301;
    font-weight: 800;
}
.ruta-presentacio-banner h3 a:hover{
    color:  #A2231D	;
}
/* Mides de fonts de capçalera per a dispositius fins a 768px */
.ruta-presentacio-banner h1 {
    font-size: 1.3rem;
    line-height: 1.1em; 
    margin-top: 0.5em;
}
.ruta-presentacio-banner h2 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
.ruta-presentacio-banner h3 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
/* Mides de fonts de capçalera per a dispositius a partir de 768px */
@media (min-width: 768px) {
    .ruta-presentacio-banner h1 {
       font-size: 2rem;
       line-height: 1.1em;         
       padding-left: 11vw;
   }
   .ruta-presentacio-banner h2 {
       font-size: 1.5rem;
       line-height: 1.1em;
       padding-left: 11vw;
   }
   .ruta-presentacio-banner h3 {
       font-size: 1.3rem;
       line-height: 1.1em;
       padding-left: 11vw;
       margin-bottom: 1.5em;
   }
}

/*  -- Main: 3era secció rutes passajades cul. i Bcn literaria  */

/* 3 Contenidor de secció */
.ruta-section {
    padding-left: 3vw;  /* !! molt important: alinia a l'esquerra tots els elements de la secció */
    padding-right: 3vw;  /* !! molt important: alinia a l'esquerra tots els elements de la secció */
    padding-top: 1.25rem;
}
@media (min-width: 768px) { 
    .ruta-section{
        margin-left: 11vw;  
        margin-right: 11vw;
    }
}
/* 3.1 Capçalera secció: Passajades culturals: Barcelona medieval */
/* En dispositius petits dues linies, en la resta una */
.ruta-section h2{
    width: 70%;
    position: relative;   /* pel video */
}
@media (min-width: 768px) { 
    .ruta-section h2{
        width: 100%;
    }
}
/* 3.2 text descriptiu */
.ruta-section p {
    width: 100%;
    margin-top: 5px;
    text-align: justify; 
}
/* 3.3 Contenidor amb dos items: calendari i itinerari */

.ruta-contenidor {
    display:flex;
    flex-direction: column; 
    margin-bottom: 1em;
    border-top: 3px solid #FF2301;
    padding-top: 20px;
}
@media (min-width: 768px) { 
    .ruta-contenidor {
        display:flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
    }  
}

/* contenidors items */
.ruta-calendari{
    width: 100%;
    margin-bottom: 1.25rem;
}
.ruta-itinerari{
    width: 100%;
}
@media (min-width: 768px) { 
    .ruta-calendari{
        width: 30%;
        margin-right: 3.12rem;
    }
    .ruta-itinerari{
        width: 70%;
    }
}
/* contiguts */
.ruta-calendari a {
    font-weight: bold;
    color:#FF2301;  
    border-bottom: 2px solid #FF2301;;  
}

.ruta-calendari li:first-child,
.ruta-calendari li:last-child {
    margin-left: 0;
    list-style: none;   /* primer element sense estil, la resta si */
}
.ruta-calendari ul li{
    list-style-type: square;
    margin-left: 1.85rem;
}

/* planol recorregut */
.planol{
    width: 100%;
    margin-bottom: 1em;
}
.planol img {
    width: 100%;
    height: auto;
    border: 1px solid #2271B3; 
    border-radius:25px;
    -webkit-border-radius:25px;
    -moz-border-radius:25px;
    -ms-border-radius:25px;
    -o-border-radius:25px;
}
/* llista punts claus del recorregut */
.ruta-itinerari li:first-child {
    list-style: none;   /* primer element sense estil, la resta si */
    font-weight: bold;
    margin-left: 0;
}

.ruta-itinerari ul li{
    list-style-type: square;
    margin-left: 1.85rem;
}
@media (min-width: 768px) { 
    .ruta-itinerari ul li{
       margin-left: 3.12rem;  
    }
}
.ruta-itinerari li:last-child {
    list-style: none; 
    margin-bottom: 1.85rem;   /* marge el ultim element */
}
/* video */
.video-fluid {
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.video-fluid-item {
    overflow: hidden;
    width: 100%;
    height: auto;
    border: 1px solid  black;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

figure {
    width: 100%;
    margin: 30px auto;
}

figcaption {
    font-size: 0.8rem;
    font-style: italic;
}
/* --- fi --- */