/* ******************************************************************************************
 E s t i l s     e s p e c i f i c s    p e r    i n d e x . h t m l
********************************************************************************************* */

/************************************************
 Main: 3 grans seccions:
 - ind-presentacio-banner
 - ind-passajades-cultural
 - ind-bcn-literaria
************************************************ */

/* -- Main: 1era secció ind-presentacio-banner */

/* Contenidor: imatge de fons */
#ind-presentacio-banner {
    width: 100%;   /*  !!! molt important */
    height: auto;
    background: url('../img/open_source2.png') no-repeat right center;  
    background-size: cover;
    padding-left: 3vw;
}

/* capçaleres que apareixen en ind-presentacio-banner */


#ind-presentacio-banner h1, 
#ind-presentacio-banner h2,
#ind-presentacio-banner h3,
#ind-presentacio-banner h3 a {
    color:  #fdf39b; 
    font-weight: 800;
}

#ind-presentacio-banner h3 a:hover{
    color:  #ffe81b;
}
/* Mides de fonts de capçalera */
#ind-presentacio-banner h1 {
    font-size: 1.3rem;
    line-height: 1.1em; 
    margin-top: 0.5em;
}
#ind-presentacio-banner h2 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
#ind-presentacio-banner h3 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
@media (min-width: 568px) {
    #ind-presentacio-banner h1 {
       font-size: 2rem;
   }
}
@media (min-width: 768px) {
    #ind-presentacio-banner h1 {
       font-size: 2.7rem;
       line-height: 1.1em;         
       padding-left: 11vw;
   }
   #ind-presentacio-banner h2 {
       font-size: 1.5rem;
       line-height: 1.1em;
       padding-left: 11vw;
   }
   #ind-presentacio-banner h3 {
       font-size: 1.3rem;
       line-height: 1.1em;
       padding-left: 11vw;
   }
}

/* -- Main: 2ona secció passajades culturals:  */
/* contenidor de secció */
#ind-section-passajades-culturals {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
}
@media (min-width: 768px) { 
    #ind-section-passajades-culturals{
        margin-left: 11vw;
        margin-right: 11vw;
        padding-top: 3rem;
    }
}
/* Títol secció */
#ind-section-passajades-culturals h2{
    color:  black;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}
@media (min-width: 768px) { 
    #ind-section-passajades-culturals h2{
        font-size: 2rem;
    }
}
/* Contenidor principal de les fotografies */
#ind-passajades-culturals{
    width: 100%;
}
/* Contenidor principal de les fotos per a dispositius a partir de 768px */
@media (min-width: 768px) { 
    #ind-passajades-culturals{
       width: 100%;
       display: flex;    
       flex-direction: row;
       justify-content: center;
       margin-bottom: 2.5rem;
    }   
}

/* -- Main: 3era secció barcelona literària */

/* aplicar estil a nivell de seccion per dispositius dins a 768px */
#ind-section-barcelona-literaria{
    padding-top: 1.25rem;
    padding-left: 3vw;
    padding-right: 3vw;
    margin-bottom: 1rem;
}
@media (min-width: 768px) { 
    #ind-section-barcelona-literaria{
        margin-left: 11vw;
        margin-right: 11vw;
        margin-bottom: 1.25rem;
    }
}

/* títol secció: barcelona literaria */
#ind-section-barcelona-literaria h2 {
    color:  black;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
}
@media (min-width: 768px) { 
    #ind-section-barcelona-literaria h2 {
        margin-bottom: 1rem;
        font-size: 2rem;
    }
}

/* text explicatiu de barcelona literaria */
#ind-section-barcelona-literaria h3 {
    color:  black;
    font-weight: 400;
    padding-top: 0.6rem;
    padding-bottom:  0.6rem;
    font-size: 1rem;
}
 @media (min-width: 768px) { 
    #ind-section-barcelona-literaria h3 {
        font-size: 1.5rem;
        margin-right: 15%;
    }
}

/* Contenidor principal de les fotos */
#ind-bcn-literaria{
    width: 100%;
}
/* Contenidor principal de les fotos per a dispositius a partir de 768px */
@media (min-width: 768px) { 
    #ind-bcn-literaria{
        width: 100%;
        display: flex;    
        flex-direction: row;
        justify-content: space-between;
    }
}

/*********
   Fotos
**********/

/* contenidor per a cada foto */
.ind-foto {
    width: 100%;
    padding: 0.31rem;
}
/* imatges escalables */
.ind-foto img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}

/* text que apareix al peu de les fotos */
.figcaption-text {
    text-align: left;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
 
}
/* text que apareix al peu de les fotos  per a dispositius a partir de 768px: centrat */
@media (min-width: 570px) { 
    .figcaption-text {
        font-size: 1rem;
    }
}
@media (min-width: 768px) { 
    .figcaption-text {
        font-size: 1rem;
    }
}
@media (min-width: 992px) { 
    .figcaption-text {
        font-size: 1.3rem;
    }
}

/* --- fi --- */