
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,400i,700');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%; 
    min-width: 320px;
    font-size : 1rem;
}
body {
    font: 400 16px/1.6 'Noto Sans', sans-serif;
    color: #000;
    /* Propietats per fixar el footer   */ 
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* per fixar el footer */
    flex: 1;
    overflow: auto; 
    /*background-color: #FFFBD4; */
    background-color:  rgb(181, 243, 252);
}

h1,h2,h3,h4,h5 {
    font-family: 'Fjalla One', sans-serif;
    font-weight: 800;
}

p {
    font-size: 1rem;
    margin-bottom: 1rem;
}

a {
    color: #000;
    text-decoration: none;
   
}

a:hover {
   color: #000; 
   font-weight: bold;
 
}

/* peu del video */
cite {
    font-size: 1rem;
    font-style: italic;
    display:block;
    text-align: center;
}

abbr {
    text-decoration: none;
}

address {
    font-style: normal;  
}

/* estils sobre imatge */
.opacitat {
    z-index: 1;
    filter: alpha(opacity=70);
    -moz-opacity: .70;
    opacity: 100;
}

.opacitat:hover {
    opacity: .70;
}

/*Clase para esconder un elemento que será visible únicamente a los lectores
 de pantalla (aplicado para mejorar la accesibilidad: enlace que permite ir
 directamente al contenido principal de la página)*/

.sr {
    position: absolute;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

/***************************
 Estils pel fil d'ariadna
****************************/
.fil-ariadna ul {
    display:none;   
}

@media (min-width: 768px) { 
    .fil-ariadna {
       display: list-item;
       background-color: #fff280; 
       width:100%; 
       padding-left: 3vw;
       padding-top: 0.31rem;
       padding-bottom: 0.31rem;
       font-size: 0.8rem;
       font-style: italic;
    }
    .fil-ariadna ul {
        display:contents;
        padding-left: 0.5em;
    }
    .fil-ariadna ul li {
        display: inline-block;
    }   
  }
@media (min-width: 992px) { 
    .fil-ariadna {
       font-size: 1rem;
    }
}
@media (min-width: 1200px) { 
    .fil-ariadna {
       font-size: 1.5rem;
    }
}
/****************************
Estils pel header
*****************************/

/* header: Format per dos contenidors: logo+menu-idiomes i menú principal */
header {
   /* background-color: #FF7514; */
    background-color:  rgb(0, 156, 177);
    color:black;

    /* Els contenidors logo+menu-idiomes i menu-principal; en format columnes centrades */
    display: flex;
    flex-direction: column; 
    align-items: center;
}


/* 1er Contenidor del HEADER: conté 2 items (logo i menu-idiomes) disposats en vertical */
.container-header-1 {
    width: 100%;                  /*  !!! molt important */
    display: flex;                /* contenidor flexible amb 2 items en vertical i centrat  */
    flex-direction: column-reverse;
    align-items:center;
} 
/* Container pel logo: ocupa el 15% amplada del viewport*/

.logo{
    width: 15vw;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  
   }

@media (min-width: 576px) {
    .container-header-1 {
        max-width: 540px;
        width: 100%;        /*  !!! molt important */
        display: flex;      /* Contenidor flexible amb 2 items (logo i menu-idiomes ) en format horit. */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo{
        width: 10vw;
    }
}
/* animacions logo */
.animation-rotate:hover {
    animation: rotate 3s 2;
    animation-name: rotate;
    animation-duration: 3s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: 2;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    
    }
@keyframes rotate {
    0%, 100% {
    transform: rotate(360deg);
    }
    50% {
    transform: rotate(-360deg);
    }
}
   


@media (min-width: 768px) {
    .container-header-1 {
        max-width: 720px;
        display: flex;          /* Contenidor flexible amb 2 items (logo i menu-idiomes ) en format horit. */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo{
        width: 8vw;
    }
}
@media (min-width: 992px) {
    .container-header-1 {
        max-width: 960px;
        display: flex;            /* Contenidor flexible amb 2 items (logo i menu-idiomes ) en format horit. */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .logo{
        width: 7vw;
    }
}
@media (min-width: 1200px ) {
    .container-header-1 {
        max-width: 1500px;
        display: flex;   /* Contenidor flexible amb 2 items (logo i menu-idiomes ) en format horit. */
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    /* Container pel logo */
    .logo {
        width: 6vw;
    }
}

/* Imatges del logo */
.logo img, .logo-petit img {
    width: 100%;
    height: auto;
}

/* 2on  Contenidor del HEADER: menú principal  */
.container-header-2 {
    text-align: center;
    width: 100%; 
    background:  rgb(191, 225, 245);
    margin-right: auto;
    margin-left: auto;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
} 
 
.logo-petit{
      width: 5vw;
      margin: 0 auto;
  }

/****************************
Estils generics pels menus 
*****************************/

nav ul {
    list-style: none;
}
nav ul li:first-child {
    padding-left: 0;
}

nav ul li:last-child {
    padding-right: 0;
}
nav ul li a.active {
    border-bottom: 2px solid #000;
    
}

/**********************************************************
Estils Menú idioma: canvi mida font en funció de dispositiu
***********************************************************/
.idioma ul li {
    display: inline-block;
    padding: 0.06rem;
    font-size: 0.9rem;
}
/* Dispositius a partir de 768px */
@media (min-width: 768px) {
    .idioma ul li {
        font-size: 1.5rem;
    }
}

/************************************
Estils menú de navegación principal
************************************/
/* Dispositius fins a 768px */
nav.menu-principal ul li {
    padding: 0px;
    margin: 0px;
    font-size: 0.9rem;
    border: 1px solid  #FFFBD4;;
}  
nav.menu-principal ul li:first-child {
    border-top: 2px solid  #FFFBD4;
}

nav.menu-principal ul li:last-child {
    border-bottom: 2px solid #FFFBD4;
}

/* Dispositius a partir de 768px */
@media (min-width: 768px) {
    nav.menu-principal ul li {
        display: inline-block;
        padding: 0.9rem;
        font-size: 1.5rem;
        border:none;
    }
    nav.menu-principal ul li:first-child {
        border-top:none;
    }
    nav.menu-principal ul li:last-child {
        border-bottom: none;
    }
}

/****************************
Estils pel footer
*****************************/
footer {
    width: 100%;
    padding: 20px 40px;
    background: rgb(0, 156, 177);
    color: black;
    text-align: center;
}

/*************************
Continguts del footer
**************************/
footer ul {
    list-style: none;
}
footer p {
    font-size: 0.8rem;
}
.text-en-dotted {
   border-bottom: 1px dotted black; 
}
/* adreça empresa   */
.adreca-empresa{
    display: block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}
/* xarxes socials */
.xarxes-socials-icon {
    display: inline-block;
    background-color:  rgb(13, 109, 165);
    padding:10px;
}
.container-footer-menu{
    display:block;
    margin-top: 20px;
    font-size: 1.3rem;
}
.credits  {
    display:block;
    margin-top:20px;
}
.credits  li,  .credits a {
    color: #FFFBD4;
}
.autor{
    display:block;
    font-size: 0.7rem; 
    margin-top:20px;
    margin-bottom:30px;
    text-align: center;
    font-weight: bold;
}

/**********************************************
Estils pel main de totes les pàgines
***********************************************/
section {
    overflow: auto;  /* habilitar barres desplazament */
}

/* -- Main: 1era secció ind-presentacio-banner */

/* Contenidor: imatge de fons */
#ind-presentacio-banner {
    width: 100%;   /*  !!! molt important */
    height: auto;
    background: url('../img/open_source2.png') no-repeat right center;  
    background-size: cover;
    padding-left: 3vw;
    padding-bottom: 3vw;
}

/* capçaleres que apareixen en ind-presentacio-banner */
#ind-presentacio-banner h1, 
#ind-presentacio-banner h2,
#ind-presentacio-banner h3,
#ind-presentacio-banner h3 a {
    color:  #fdf39b; 
    font-weight: 800;
}

#ind-presentacio-banner h3 a:hover{
    color:  #ffe81b;
}
/* Mides de fonts de capçalera */
#ind-presentacio-banner h1 {
    font-size: 1.3rem;
    line-height: 1.1em; 
    margin-top: 0.5em;
}
#ind-presentacio-banner h2 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}
#ind-presentacio-banner h3 {
    font-size: 1rem;
    line-height: 0.5em;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
@media (min-width: 568px) {
    #ind-presentacio-banner h1 {
       font-size: 2rem;
   }
}
@media (min-width: 768px) {
    #ind-presentacio-banner h1 {
       font-size: 2.7rem;
       line-height: 1.1em;         
       padding-left: 11vw;
   }
   #ind-presentacio-banner h2 {
       font-size: 1.5rem;
       line-height: 1.1em;
       padding-left: 11vw;
   }
   #ind-presentacio-banner h3 {
       font-size: 1.3rem;
       line-height: 1.1em;
       padding-left: 11vw;
   }
}

/* -- Portada Main, 2ona i 3era secció  (Module Bundlers i Preprocessadors)  */

/* Contenidor de secció */
.ind-section-portada {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
}
@media (min-width: 768px) { 
    .ind-section-portada{
        margin-left: 11vw;
        margin-right: 11vw;
        padding-top: 3rem;
    }
}
/* Títol secció */
.ind-section-portada h2{
    color:  black;
    margin-bottom: 1.25rem;
    font-size: 1.5rem;
}
@media (min-width: 768px) { 
    .ind-section-portada h2{
        font-size: 2rem;
    }
}
/* Contenidor de les fotos */
.ind-portada-foto{
    width: 100%;
}
/* Contenidor principal de les fotos per a dispositius a partir de 768px */
@media (min-width: 768px) { 
    .ind-portada-foto{
       width: 100%;
       display: flex;    
       margin-bottom: 2.5rem;
    }   
}
/* Contenidor de text */
.ind-portada-text{
    width: 100%;
    text-align: justify;
}

/*********
   Fotos
**********/

/* contenidor per a cada foto */
.ind-foto  {
    width: 100%;
    padding: 0.31rem;
    display: flex;
    justify-content: center;
}
/* imatges escalables */
.ind-foto img {
    width: 100%;
}

/* text que apareix al peu de les fotos */
.figcaption-text {
    text-align: left;
    margin-bottom: 1.25rem;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
 }
/* text que apareix al peu de les fotos  per a dispositius a partir de 768px: centrat */
@media (min-width: 570px) { 
    .figcaption-text {
        font-size: 1rem;
    }
}
@media (min-width: 768px) { 
    .figcaption-text {
        font-size: 1rem;
    }
}
@media (min-width: 992px) { 
    .figcaption-text {
        font-size: 1.3rem;
    }
}

/***************************
 Estils pel fil d'ariadna
****************************/
.fil-ariadna ul {
    display:none;   
}
@media (min-width: 768px) { 
    .fil-ariadna {
       display: list-item;
       background-color: #fff280; 
       width:100%; 
       padding-left: 14vw;
       padding-top: 0.31rem;
       padding-bottom: 0.31rem;
       font-size: 0.8rem;
       font-style: italic;
 
    }
    .fil-ariadna ul {
        display:contents;
        padding-left: 0.5em;
    }
    .fil-ariadna ul li {
        display: inline-block;
    }   
  }
@media (min-width: 992px) { 
    .fil-ariadna {
       font-size: 1rem;
    }
}
@media (min-width: 1200px) { 
    .fil-ariadna {
       font-size: 1.5rem;
    }
}

/**********************************************
Estils per pàgina de portada index.html
***********************************************/
/* --  Main,  una secció amb 2 columnes  */
/* Contenidor de secció */
.por-section-portada {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
}
@media (min-width: 768px) { 
    .por-section-portada{
        margin-left: 11vw;
        margin-right: 11vw;
        padding-top: 3rem;
    }
}
.por-section-portada h4 {
    color: rgb(13, 109, 165);
    padding-left: 1rem;
}

/* Contenidor dintre la secció */
.por-contenidor{
    width: 100%;
}
@media (min-width: 768px) { 
    .por-contenidor {
       width: 100%;
       display: flex;    
       flex-direction: column;  /* nova linia  */
       align-items: center;  /* nova linia  */
       margin-bottom: 2.5rem;
    }   
}
/* Columnna del contenidor */
.por-contenidor-col1  {
    width: 100%;
    padding: 1rem;
    text-align: justify;
}
@media (min-width: 768px) { 
    .por-contenidor-col1 {
        width: 75%;     /* valor anterior: 50% */
        padding: 1rem;
        text-align: justify;
    }   
}

 /*  inici a eliminar   */
.por-contenidor-col2  {  /*  a eliminar   */
    width: 100%;
   }
@media (min-width: 768px) { 
    .por-contenidor-col2{
        width: 50%;
    }
}
 /*  fi eliminar   */

 /* --- TRACTAMENT FOTOS --- */

.por-foto img {
    width: 100%;
    /* padding: 0rem; */
    height: auto;
    border-radius: 35px;
       
}
@media (min-width: 768px) { 
    .por-foto img{
       /* width: 100%;   */   /* eliminada: no seveix   */
       /* height: auto;  */   /* eliminada: no serveix  */
    
    }
}

/*****************************************************************************
Estils per pàgines de categories: empaquetadors.html i preprocessadors.html
******************************************************************************/
/* --  Main, una secció amb 2 files, 1era fila amb 4 fotos, 2ona fila amb text  */
/* Contenidor de secció */
.cat-section {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
}
@media (min-width: 768px) { 
    .cat-section{
        margin-left: 11vw;
        margin-right: 11vw;
        padding-top: 3rem;
    }
}
/* Contenidor dintre section */
.cat-contenidor{
    width: 100%;
    /* border: 2px solid red; */
}
@media (min-width: 768px) { 
    .cat-contenidor{
       width: 100%;
       display: flex;    
       margin-bottom: 1.5rem;
     /* border: 2px solid red; */
    }   
}

.cat-foto  {
    width: 100%; 
    padding: 0.31rem;
    margin: 0.5em;
    /* display: flex; */
    justify-content: center;
   /* border: 2px solid red; */
}

/* imatges escalables */
.cat-foto img {
    width: 80%;
    border-radius: 25px;
   /* margin: auto; */
    display: block;   /* per centrar */

}
@media (min-width: 480px) { 
    .cat-foto img {
       width: 100%;
      /* display: flex;    */ 

    }   
}
@media (min-width: 1024px) { 
    .cat-foto img {
       width: 50%;
      /* display: flex;    */ 

    }   
}

/* Contenidor de text */
.cat-text{
    width: 100%;
    text-align: justify;
}

/**********************************************
Estils per pàgina detall 
***********************************************/
/* --  Main, 3era secció  (3 columnes)  */
.det-section {
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
    /* border: 2px solid red;   /*  ES DE PROVES */
}
@media (min-width: 768px) { 
    .det-section{
        margin-left: 11vw;
        margin-right: 11vw;
        padding-top: 3rem;
        /* border: 2px solid red;   /* ES DE PROVES */
    }
}
/* nou pac2: linia separació entre seccions  */
.det-section-separation {
    margin-left: 5vw;
    margin-right: 5vw;
    border-bottom: 3px solid  rgb(13, 109, 165);  /* nou pac2: línia separació entre seccions */
}
@media (min-width: 768px) { 
    .det-section-separation {
        margin-left: 15vw;
        margin-right: 15vw;
        padding-top: 1.5rem;
        border-bottom: 3px solid  rgb(13, 109, 165);   /* nou pac2: linia separació sections  */
    }
}

/* Contenidor de les columnes de text */
.det-contenidor{
    width: 100%;
}
@media (min-width: 768px) { 
    .det-contenidor{
       width: 100%;
       display: flex;  
       justify-content: center;  
       margin-bottom: 2.5rem;
       font-size : 1rem;
    } 
}   
/* contenidor columna */
.det-col  {
    width: 100%;
    padding: 0.31rem;
 /*   text-align: justify; */
    
}
@media (min-width: 768px) { 
    .det-col{
        width: 100%;
        padding-right: 1rem;
        padding-left: 0rem;
    /*    text-align: justify; */
    }   
}
.det-section h3{
    color: rgb(13, 109, 165);
}
  
.det-section h4{
  color: rgb(13, 109, 165);
}

.det-col h4{
    border-bottom: 3px solid  rgb(13, 109, 165);
    padding-bottom: 0.3rem;
    margin-bottom: 1rem;
    color: rgb(13, 109, 165);
}
/* --- NOVES regles per Pac2 per les fotos  */
.det-foto-logo img {   /* nou: pel logo gran inici pàgina  */
    border-radius: 35px;
    margin-bottom: 0.5em;
}

.det-foto img {   /* nou:  */
    border-radius: 35px;
    margin-bottom: 0.5em;
    display: block;   /* per centrar */
    margin: auto;     /* per centrar */
}

.det-foto2 img {   /* nou:  */
    border-radius: 10px;
    margin-bottom: 0.5em;
    display: block;   /* per centrar */
    margin: auto;     /* per centrar */
}

.det-foto3 img {   /* nou: utilitzat per la foto del creador del Yarn*/
    margin-bottom: 0.5em;
    display: block;   /* per centrar */
    margin: auto;     /* per centrar */
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);
}

.det-foto-art  {   /* nou: per les fotos amb direcció d art  */
    margin-bottom: 1em;
}
.det-foto-art img {   /* nou: per les fotos amb direcció d art */
    border-radius: 35px;
    width: 90vw;
    display:block;   /* per centrar */
    margin:auto;     /* per centrar */
}

@media (min-width: 768px) { 
    .det-foto-art img {
        width: 70vw;
        margin-bottom: 1em;
        display:block;   /* per centrar */
        margin:auto;     /* per centrar */
    }
}
@media (min-width: 1024px) { 
    .det-foto-art img {
        width: 50vw;
        margin-bottom: 1em;
    }
}
/* --- fi noves pac2 */

.det-video  {
    width: 100%;
    padding: 1rem;
    justify-content: center;
    text-align: justify;
}
@media (min-width: 768px) { 
    .det-video{
        width: 75%;
        padding: 1rem;
        justify-content: center;
        text-align: justify;
    }
}
.lletra-petita p {
    font-size : 0.8rem;
}

.interlin-petitx p {
    line-height: 0.5rem;
}
.comando{
    background-color: ivory;
    border-radius: 10px;
}

/* botons per mostrar o amagar text */
#mod-boto-mes,
#mod-boto-mes2 {
    background-color:rgb(0, 156, 177);
    transition: background-color 0.5s ease-out;  /* Transformació   */
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: none;
    
}
#mod-boto-menys,
#mod-boto-menys2 {
    background-color:rgb(0, 156, 177);
    transition: background-color, font-weight 0.5s ease-out; /* Transformació  */
    padding: 0.5rem;
    border-radius: 10px;
    margin-bottom: 2rem;
    border: none;
    display: none;
}
#mod-boto-mes:hover,
#mod-boto-mes2:hover,
#mod-boto-menys:hover,
#mod-boto-menys2:hover {
    background-color: #fff280;   /* Transformació: color de fons i pes de la lletra */
    font-weight: bold;
    transition-duration: 2s;
}


/* text a mostrar / ocultar */
#mod-text-module-var,
#mod-text-module-var2 {
  display : none;
}
/* -- */

/*  paragraf sense separació */
.pse {
    margin: 0px;
}
/* -- fi  -- */