/* ******************************************************************************************
 E s t i l s    a p l i c a t s    a   i n s c r i p c i o n s . h t m l
********************************************************************************************* */

/************************************************
 Main: 3 grans seccions:
 - ins-presentacio-banner
 - ins-fil-ariadna (generic a les 4 pagines)
 - ins-section-inscripcions
************************************************ */

/* -- Main -- /
/* 1.  Main 1era secció ind-presentacio-banner */

/*  1.1 Contenidor amb imatge de fons */
#ins-presentacio-banner {
    width:100%;
    height: auto;
    background: url('../img/bg-tickets.jpg') no-repeat top center;
    background-size: cover;
    padding-left: 3vw;
    padding-bottom: 2.5rem;
}

/* 1.1.1  Capçaleres que apareixen en presentacio-banner */
/* colors */
#ins-presentacio-banner h2 {
     color: #193242;
}
/* mides */
#ins-presentacio-banner h2 {
    font-size: 2rem;
    margin-top: 3.21rem;
}
@media (min-width: 768px) { /* per a dispositius a partir de 768px */
   #ins-presentacio-banner h2 {
       font-size: 3rem;
       padding-left: 11vw;
       margin-top:3.1rem;
   }
}

/* 2 -- Main: 3era secció rutes passajades cul. i Bcn literaria  */
/* 2.1 Contenidor de secció */
#ins-section-pc-bcn-literaria{
    padding-left: 3vw;
    padding-right: 3vw;
    padding-top: 1.25rem;
}
@media (min-width: 576px) { 
    #ins-section-pc-bcn-literaria{
        margin-left: 5vw;   
        margin-right: 5vw;    
    }
}
@media (min-width: 768px) { 
    #ind-section-pc-bcn-literaria{
        margin-left: 7vw;   
        margin-right: 7vw; 
    }
}
@media (min-width: 992px) { 
    #ind-section-pc-bcn-literaria{
        margin-left: 8vw;   
        margin-right: 5vw; 
    }
}

@media (min-width: 1200px) { 
    #ind-section-pc-bcn-literaria{
        margin-left: 11vw;   
        margin-right: 11vw; 
    }
}
/* 2.2 Títols secció: Passajades culturals i  Barcelona Literaria*/
#ins-section-pc-bcn-literaria h2{
    color:  black;
    font-size: 2rem;
    margin-bottom: 1.25rem;
}
@media (min-width: 768px) { 
    #ins-section-pc-bcn-literaria h2{
        font-size: 2rem;
    }
 }

/* 2.3 contenidor principal de la 3era secció */
.ins-container {
    margin-bottom: 1em;
}

/*  2.3.1  Contenidor que conté 4 items: foto, nom ruta, calendari, ...*/
.ins-container-ruta {
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}
@media (min-width: 768px) { 
    .ins-container-ruta{
        font-size: 0.8rem;
        display:flex;
        flex-direction: row; 
        justify-content: space-between;
        align-items: flex-start;
    }  
}
@media (min-width: 992px) { 
    .ins-container-ruta{
        font-size: 1rem;     /* canvi mida font de dins de les bombolles */
    }  
}
@media (min-width:1200px) { 
    .ins-container-ruta{
        font-size: 2rem;
    }  
}
/* titols a peu de foto  */
#ins-section-pc-bcn-literaria h5,
#ins-section-pc-bcn-literaria h5 a {
    color: #1d6287;
    margin-bottom: 0.5em;
    font-weight: bold;
}
#ins-section-pc-bcn-literaria a {
    border-bottom: 1px solid #1d6287;   /* link inscripcions */
}

#ins-section-pc-bcn-literaria a:hover {
    font-size: 1.2em; /* link inscripcions */
}

/*  2.3.1.0 Contenidors foto, ... */
.ins-ruta-foto,
.ins-ruta-nomruta,
.ins-ruta-calendari,
.ins-ruta-inscripcio {
    width: 100%;
    text-align: center;
}

@media (min-width: 768px) { 
    .ins-ruta-foto,
    .ins-ruta-nomruta,
    .ins-ruta-calendari,
    .ins-ruta-inscripcio {
        width: 25%;
        margin: 0.6rem;
        padding: 0.6rem;
        border-radius: 25px;
        border: 2px solid #1d6287;   
        -webkit-border-radius: 25px;
        -moz-border-radius: 25px;
        -ms-border-radius: 25px;
        -o-border-radius: 25px;
    }
}

/* 2.3.1.1 imatges escalables */
.ins-ruta-foto img {
    width: 100%;
    height: auto;
 
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
    
}
 /* ---- fi ---- */





